---
import { AnimatedPatterns } from './AnimatedPatterns';
---

<div class="hero-shapes-wrapper">
  <AnimatedPatterns client:load />
</div>

<style>
  .hero-shapes-wrapper {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

